/* Start Global Rules */
:root {
    --main-color: #2196F3;
    --main-color-alt: #1787e0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    margin: 0 auto;
    padding: 0 15px;

}

/* mobile Screen */
@media (max-width:767px) {}

/* Small Screen */
@media (min-width:768px) {
    .container {
        width: 750px;
    }

}

/* Medium Screen */
@media (min-width:992px) {
    .container {
        width: 970px;
    }

}

/* Large Screen */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start header */
header {
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container a {
    display: flex;
    align-items: center;
    height: 72px;
}

header .container .logo {
    color: var(--main-color);
    font-size: 25px;
    font-weight: 700;
}

header .container .nav {
    display: flex;
    align-items: center;
}

header .container .nav>li a {
    padding: 0 30px;
    font-size: 18px;
    transition: 0.3s;
    position: relative;


}

header .container .nav>li>a:hover {
    color: var(--main-color-alt);
    background-color: #fafafa;
}

header .container .nav>li>a:hover::before {
    width: 100%;
    -webkit-animation: fill-bar 0.3s ease-out;
    animation: fill-bar 0.3s ease-out;
    content: '';
    position: absolute;
    height: 4px;
    background-color: var(--main-color-alt);
    top: 0;
    left: 0;
}

@-webkit-keyframes fill-bar {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes fill-bar {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@media (max-width:767px) {
    header .container {
        flex-direction: column;

    }

    header .container .logo {
        height: 51px;
    }

    header .container .nav>li a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

/* Start Mega Menu */
header .container .nav li:last-child .mega-menu {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(100% + 1px);
    -webkit-animation: smooth-up 0.3s;
    animation: smooth-up 0.3s;
    padding: 20px;
    border-bottom: var(--main-color) 5px solid;
    gap: 20px;
    background-color: white;
    z-index: 999;
}

header .container .nav li:last-child:hover .mega-menu {
    display: flex;


}

@-webkit-keyframes smooth-up {
    0% {
        top: calc(100% + 20px);
    }

    100% {
        top: calc(100% + 1px);
    }
}

@keyframes smooth-up {
    0% {
        top: calc(100% + 20px);
    }

    100% {
        top: calc(100% + 1px);
    }
}

header .container .nav li:last-child .mega-menu a {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    padding: 0;
    color: var(--main-color);
}

header .container .nav li:last-child .mega-menu a i {
    margin-right: 10px;
}

header .container .nav li:last-child .mega-menu .links {
    flex: 1;
}

header .container .nav li:last-child .mega-menu .links li {
    position: relative;
}

header .container .nav li:last-child .mega-menu .links li a {
    padding: 15px;
}

header .container .nav li:last-child .mega-menu .links li:not(:last-child) a {
    border-bottom: #fafafa 3px solid;
}

header .container .nav li:last-child .mega-menu .links li:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    -webkit-animation: fill-bar 0.3s;
    animation: fill-bar 0.3s;
    height: 100%;
    background-color: #fafafa;
    top: 0;
    left: 0;
}

@media (max-width:767px) {
    header .container .nav li:last-child .mega-menu {
        flex-direction: column;
        gap: 0;

    }

    header .container .nav li:last-child .mega-menu .links li a {
        border-bottom: #fafafa 3px solid;
    }

    header .container .nav li:last-child .mega-menu .links:last-child li:last-child a {
        border-bottom: none;
    }

}

@media (max-width:992px) {
    .image {
        display: none;
    }

}

@media (max-width:1200px) {
    .image img {
        width: 400px;
    }

}

/* End Mega Menu */

/* End header */

/* Start Landing */
.landing {
    height: calc(100svh - 72px);
    position: relative;
    overflow: hidden;
}

.landing::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ececec;
    top: -10%;
    transform: skew(0deg, -6deg);
    z-index: -1;
}

.landing .container {
    position: relative;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.landing .container .text {
    max-width: 400px;
}

.landing .container img {
    display: none;
}

.landing .container .text h1 {
    margin: 0;
    font-size: 35px;

}

.landing .container .text p {
    line-height: 2;
    color: #666;
    font-size: 20px;
}

.landing .container i {
    position: absolute;
    bottom: -5%;
    color: var(--main-color);
    font-size: 25px;
    -webkit-animation: up-down-row 0.3s infinite alternate ease-out;
    animation: up-down-row 0.3s infinite alternate ease-out;

}

@-webkit-keyframes up-down-row {
    0% {
        bottom: -5%;
    }

    100% {
        bottom: -7%;
    }
}

@keyframes up-down-row {
    0% {
        bottom: -5%;
    }

    100% {
        bottom: -7%;
    }
}

@media (max-width:767px) {
    .landing {
        height: calc(100svh - 91px);
    }

    .landing .container .text h1 {
        font-size: 25px;
    }

    .landing .container .text p {
        font-size: 15px;
    }
}

@media (min-width:1200px) {
    .landing::before {
        top: -15%;
    }

    .landing .container {
        text-align: left;
    }

    .landing .container img {
        display: block;
        width: 600px;
        position: relative;
        -webkit-animation: up-down infinite 2s linear alternate;
        animation: up-down infinite 2s linear alternate;
    }
}

@-webkit-keyframes up-down {
    0% {
        top: -30px;
    }

    100% {
        top: 30px;
    }
}

@keyframes up-down {
    0% {
        top: -30px;
    }

    100% {
        top: 30px;
    }
}

/* End Landing */

/* Start Articles */
.articles {
    padding: 100px 0;

}

.main-heading {
    text-transform: uppercase;
    display: block;
    border: black 2px solid;
    padding: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    font-size: 30px;
    font-weight: 700;
    transition-property: color, border;
    transition: 0.3s;
    margin-bottom: 50px;
    z-index: 1;

}

.main-heading:hover {
    transition-delay: 0.4s;
    border-color: white;
    color: white;

}

.main-heading::before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 50%;
    transform: translate(0, 50%);
    left: 0;
    left: -25%;
    border-radius: 50%;
    z-index: -1;

}

.main-heading:hover:before {
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation: main-heading-before 0.5s ease-out 1 forwards;
    animation: main-heading-before 0.5s ease-out 1 forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes main-heading-before {
    50% {
        left: 0;
        border-radius: 5px;
        width: 15px;
        height: 15px;
    }

    100% {
        width: 51%;
        height: 100%;
        left: 0;
        border-radius: 0;
    }
}

@keyframes main-heading-before {
    50% {
        left: 0;
        border-radius: 5px;
        width: 15px;
        height: 15px;
    }

    100% {
        width: 51%;
        height: 100%;
        left: 0;
        border-radius: 0;
    }
}

.main-heading::after {
    content: '';
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    bottom: 50%;
    transform: translate(0, 50%);
    right: -25%;
    z-index: -1;
}

.main-heading:hover::after {
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation: main-heading-after 0.5s ease-out 1 forwards;
    animation: main-heading-after 0.5s ease-out 1 forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes main-heading-after {
    50% {
        right: 0;
        border-radius: 5px;
        width: 15px;
        height: 15px;
    }

    100% {
        width: 50%;
        height: 100%;
        right: 0;
        border-radius: 0;
    }
}

@keyframes main-heading-after {
    50% {
        right: 0;
        border-radius: 5px;
        width: 15px;
        height: 15px;
    }

    100% {
        width: 50%;
        height: 100%;
        right: 0;
        border-radius: 0;
    }
}

.articles .container .articles-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.articles .container .articles-wrapper>div {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: var(--border-radius);
    --border-radius: 6px;
    transition: 0.5s;
}

.articles .container .articles-wrapper>div:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 30%)
}

.articles .container .articles-wrapper>div img {
    width: 100%;

    -o-object-fit: cover;

    object-fit: cover;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.articles .container .articles-wrapper>div h2 {
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 10px;
}

.articles .container .articles-wrapper>div p {
    padding: 10px;
    color: #666;
    margin-bottom: 10px;
    line-height: 1.5;
    padding-left: 20px;
}

.articles .container .articles-wrapper>div hr {
    border: none;
    height: 1px;
    background-color: #e6e6e7;
    margin-bottom: 10px;
}

.articles .container .articles-wrapper>div span {
    padding: 10px;
    padding-left: 20px;
    display: block;
    margin-bottom: 10px;
    color: var(--main-color);
    position: relative;
    font-weight: 700;
}

.articles .container .articles-wrapper>div span i {
    position: absolute;
    right: 20px;
}

.articles .container .articles-wrapper>div:hover span i {
    -webkit-animation: arrow 0.5s infinite linear;
    animation: arrow 0.5s infinite linear;
}

@-webkit-keyframes arrow {
    0% {
        right: 20px;
    }

    100% {
        right: 10px;
    }
}

@keyframes arrow {
    0% {
        right: 20px;
    }

    100% {
        right: 10px;
    }
}

/* End Articles */

/* Start Gallery */
.gallery {
    padding: 100px 0;
    background-color: #ececec;
    position: relative;
}

.gallery::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
    bottom: calc(100% - 30px);
    z-index: 33;
}

.gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.gallery-wrapper .box {
    padding: 15px;
    background-color: white;
}

.gallery-wrapper .box div {
    overflow: hidden;
    position: relative;
    display: flex;


}

.gallery-wrapper .box div::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    z-index: 1;
    background-color: white;
    transform: translate(50%, 50%);
    bottom: 50%;
    right: 50%;
}

.gallery-wrapper .box div:hover::before {
    background-color: white;
    -webkit-animation: 0.5s linear gallery 1 forwards;
    animation: 0.5s linear gallery 1 forwards;
}

@-webkit-keyframes gallery {
    0% {
        opacity: 0.3;
    }

    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes gallery {
    0% {
        opacity: 0.3;
    }

    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

.gallery-wrapper .box div img {
    width: 100%;
    transition: 0.4s;

}

.gallery-wrapper .box div:hover img {
    transform: scale(1.1) rotate(5deg);
}

/* End Gallery */

/* Start Features */
.features {
    padding: 100px 0;
    text-align: center;
}

.features .features-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .features-wrapper .box {
    border: #666 1px solid;
}

.features .features-wrapper .image {
    display: flex;
    position: relative;
    overflow: hidden;
}

.features .features-wrapper .image::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--section-color);
    opacity: 0.6;
}

.features .features-wrapper .box .image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.features .features-wrapper .box:hover .image::after {
    border-width: 170px 500px 170px 0;
}

.features .features-wrapper .image img {
    width: 100%;
    height: 100%;
}

.features .features-wrapper .text {
    padding: 20px;
}

.features .features-wrapper .text h1 {
    margin: 0;
    text-transform: capitalize;

    color: var(--section-color);
    font-size: 40px;
    color: black;
    position: relative;
    display: inline-block;
    padding: 20px;
}

.features .features-wrapper .text h1::before {
    content: '';
    width: 60%;
    height: 4px;
    background-color: var(--section-color);
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translatex(50%);
    -webkit-transform: translatex(50%);
    -moz-transform: translatex(50%);
    -ms-transform: translatex(50%);
    -o-transform: translatex(50%);
}

.features .features-wrapper .text p {
    line-height: 2;
    font-size: 23px;
    color: #666;
    margin-bottom: 30px;
}

.features .features-wrapper .text a {
    text-transform: uppercase;
    color: var(--section-color);
    font-size: 25px;
    border: var(--section-color) 3px solid;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 6px;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.features .features-wrapper .box:hover .text a {
    color: white;
}

.features .features-wrapper .text a::before {
    content: '';
    position: absolute;
    background-color: var(--section-color);
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    transition: 0.3s all;
    z-index: -1;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
}

.features .features-wrapper .box:hover .text a::before {
    width: 100%;
}

/* End Features */

/* Start Testimonails */
.testimonails{
    padding: 100px 0;
    background-color: #ececec;
}
.testimonails .main-heading{
    margin-bottom: 100px;
}
.testimonails .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    row-gap: 55px;
    column-gap: 20px;
}
.testimonails .container article{
    background-color: white;
    position: relative;
    padding: 25px;
    border-radius: 5px;
}
.testimonails .container article figure{
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    top: 0;
    right: 0;
    transform: translatey(-50%);
    border: 10px #ececec solid;
    

}
.testimonails .container article img{

    width: 80px;

}
.testimonails .container article h2{
    font-size: 20px;
    margin-bottom: 20px;
}
.testimonails .container article p{
    color: #666;
    margin-bottom: 5px;
}
.testimonails .container article ul{
    display: flex;
    gap: 2px;
    margin-bottom: 20px;
}
.testimonails .container article ul li:not(:last-child) i{
    color: orange;

}
/* End Testimonails */

/* Start Team Members */
section{
    padding: 100px 0;
}
.team .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
}
.team .container article{

    transition: 0.3s;
    position: relative;
    border-radius: 7px;

}


.team .container article > .image{
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap:20px;
    margin-bottom: 30px;

}
.team .container article > .image img{
    width: calc(100% - 60px);
    border-radius: 7px;
    transition: 0.3s;
}
.team .container article:hover .image img{
    filter: grayscale(1);
}
.team .container article > .image ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #666;
}
.team .container article > .image ul li a i{
    color: #666;
    transition: 0.3s;
}
.team .container article > .image ul li a i:hover{
    color: var(--main-color);
}
.team .container .info{
    margin-left: 80px;
}

.team .container .info::before{
    content: '';
    height: 100%;
    width: calc(100% - 50px);
    position:absolute;
    top: 0;
    right: 0;
    background-color: #fafafa;
    z-index: -1;

    border-radius: 7px;
}
.team .container .info::after{
    content: '';
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    background-color: #ececec;
    z-index: -1;
    border-radius: 7px;
    width: 0%;
    transition: 0.3s;
}
.team .container article:hover .info::after{
    width: calc(100% - 50px);
}

.team .container .info h2{
    color: var(--main-color);
    margin-bottom: 10px;
    transition: 0.3s;
}
.team .container article:hover .info h2{
    color: #777;
}
.team .container .info p{
    margin-bottom: 20px;
}
/* End Team Members */

/* Start Services */
.services{
    background-color: #ececec;
    position: relative;
}
.services::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
    bottom: calc(100% - 30px);
    z-index: 33;
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 40px;
}
.services .container .box{
    background-color: white;
    box-shadow: 0px 2px 5px rgb(0 0 0 /40%);
    counter-increment: services;
    transition: 0.3s;
    position: relative;
}
.services .container .box:hover{
    transform: translatey(-10px);
}
.services .container .box::before{
    content: '';
    height: 2px;
    width: 0px;
    position: absolute;
    top: 0;
    background-color: #1787e0;
    transition: 0.3s;
    right: 50%;
    transform: translatex(50%);
}
.services .container .box:hover::before{
    width: 100%;

}

.services .container .box .info{
    text-align: center;
    padding: 40px;
}
.services .container .box .info i{
    color: #d5d5d5;
    font-size: 70px;
    margin-bottom: 10px;
}   
.services .container .box .info h2{
    color: var(--main-color);
    font-size: 30px;
    text-transform: capitalize;
}
.services .container .box .bar{
    padding: 10px;
    background: linear-gradient(120deg, var(--main-color) 30%, #d5d5d5 30%,#d5d5d5 45%, #ececec 45%);
    position: relative;
}
.services .container .box .bar::before{
    content: "0" counter(services);
    color: white;
    font-weight: 700;
    font-size: 30px;
}
.services .container .box .bar::after{
    content: 'Details';
    position: absolute;
    right: 10px;
    bottom: 50%;
    transform: translatey(50%);
    color: var(--main-color);
}
/* End Services */

/* Start our-skills */
.our-skills .container{
    display: flex;
}
@media (max-width:991px){
    .our-skills .container img{
        display: none;
    }
}
.our-skills .container .skills{
    flex: 1;
}
.our-skills .container .skills .skill{
    margin-bottom: 30px;
}
.our-skills .container .skills .skill h3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}
.our-skills .container .skills .skill h3 span{
    font-weight: 500;
    padding: 5px;
    border: 3px #e6e6e7 solid;
    border-radius: 4px;
    color: var(--main-color);
}
.our-skills .container .skills .skill > div{
    background-color: #d5d5d5;
    height: 30px;
    position: relative;
}
.our-skills .container .skills .skill > div span{
    background-color: #2196F3;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
/* End our-skills */

/* Start How-it-works */
.work-steps{
    background-color: #ececec;
}
.work-steps .container{
    display: flex;
    justify-content: space-around;
    
    gap: 40px;
}
@media (max-width:992px){
    .work-steps .container{
        flex-direction: column;
        align-items: center;
    }
}
.work-steps .container > img{
    max-width: 100%;
    width: 500px;
    user-select: none;
}
.work-steps .steps article{
    display: flex;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    gap: 20px;
    position: relative;
    z-index: 0;
    margin-bottom: 20px;
    align-items: center;
}
@media (max-width:768px){
    .work-steps .container article{
        flex-direction: column;
        align-items: center;
    }
    .work-steps .container article .text{
        text-align: center;
    }
}
.work-steps .steps article::before{
    height: 0;
    width: 0;
    content: '';
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%,50%);
    background-color: #ececec;
    transition: 0.3s;
    border-radius: 5px;
    z-index: -1;

}
.work-steps .steps article:hover::before{
    height: calc(100% - 10px);
    width: calc(100% - 10px);
}
.work-steps .steps article .text h2{
    margin-bottom: 10px;
}
.work-steps .steps article .text p{
    color: #666;
}
.work-steps .steps article img{
    width: 80px;
    height: 80px;
    user-select: none;
}
/* End How-it-works */